<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main page</title>
</head>
<body>
  <a href="/write2">글쓰기</a><br><br>
  <div>
    <% for(var i = 0; i < posts.length; i++){ %>
      <div>
        <a href="/detail2/<%= posts[i]._id %>"><%= posts[i].title %></a>
      </div>
    <% }%>
  </div>
</body>
</html>